.container {
	max-width: 1371px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 30px;
	padding-left: 30px;

	&_wide {
		max-width: 1561px;
	}
}

@media screen and (max-width: 443px) {
	.container {
		padding-right: 15px;
		padding-left: 15px;
	}
}
