html {
	// color: var(--gray-700);
	font-family: $OpenSans;
	font-size: 16px;
}

body,
ul,
ol {
	margin: 0;
	padding: 0;
}

body {
	position: relative;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	font-variant-numeric: lining-nums;
}

fieldset {
	border: none;
}

input {
	&::-moz-placeholder {
		opacity: 1;
	}

	&::placeholder {
		opacity: 1;
	}
}

input[type='number'] {
	-moz-appearance: textfield;

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

select {
	appearance: none;
}

select::-ms-expand {
	display: none;
}

h1,
p {
	margin-top: 0;
}
